@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* Global Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main: #21a179ff;
    --primary-colour: #2541b2ff;
    --secondary-colour: #0496ffff;
    --background: #f2f4f3ff;
}

body {
    font-family: "League Gothic", sans-serif;
    background-color: var(--background);
    letter-spacing: 1px;
}
.navbar {
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    font-weight: 200;
}

.nav-container {
    width: 100%;
    height: 50px;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}

.nav-left a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}