{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e91c0c27d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Callum Wishart</title>
</head>
<body>
    <!-- Header -->
     <div class="navbar">
        <div class="nav-container">
            <h3 class="header-name">CALLUM WISHART</h3>
            <div class="nav-menu">
                <div class="nav-left">
                    <a href="https://github.com/callumwishart">GITHUB</a>
                    <a href="https://www.linkedin.com/in/callum-wishart/">LINKEDIN</a>
                </div>
            </div>
        </div>
     </div>
    <!-- Banner -->
    <div class="hero-div">
        <h1>A Brief Overview of Callum Wishart's Projects</h1>
    </div>
    <!-- Main Column Container -->
    <!-- Secondary Column Container -->
    <!-- Footer -->
</body>
</html>