{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e91c0c27d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Callum Wishart</title>
</head>
<body>
    <!-- Header -->
     <div class="navbar">
        <div class="nav-container">
            <p class="header-name">CALLUM WISHART</p>
            <div class="nav-menu">
                <div class="nav-left">
                    <a href="https://github.com/callumwishart" target="_blank">GITHUB</a>
                    <a href="https://www.linkedin.com/in/callum-wishart/" target="_blank" >LINKEDIN</a>
                </div>
            </div>
        </div>
     </div>
    <!-- Banner -->
    <div class="hero-div">
        <div class="hero-text-container">
            <h1>A Brief Overview of Callum Wishart's Projects</h1>
        </div>
        <div class="hero-image-container">
            <img src="{% static 'media/hero.svg' %}" alt="">
        </div>
    </div>
    <!-- Main Column Container -->
     <div class="experience-container">

     </div>
    <!-- Secondary Column Container -->
     <div class="about-me-container">

     </div>
    <!-- Footer -->
     <div class="footer-container">

     </div>
</body>
</html>